.pointer {
	cursor: pointer;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;

 }

 body {
    background: #fff ;

 }
 h1{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
 }
 p {
    font-family: 'Exo 2', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
 }
 /*.box-post {
  border: solid #D0D3D4;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  size: 30px;
 }
 .btn-guardar {
 display: flex;
 align-items: flex-end;
 justify-content: right;
 margin: 15px;

 }*/
 .text-area {
    width: 90%;
    padding: 10px;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.4rem;
    border: 2px solid #6E8A3C;

    /* margin: 20px auto; */
    margin: 20px;
    resize: none;
    /* display: flex; */
    /* justify-content: center; */
 }
 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    width: 70%;
    max-width: 600px;
    margin: auto;
 }
 #save-text {
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    background: #6E8A3C;
    border-radius: 50px;
    border: 0;
    outline: 0;
    font-size: 16px;
    line-height: 15px;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    /* bottom: 0; */
    /* margin-left: 200px; */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* position: absolute; */

  }
  .template-posts{
    width: 70%;
    height: auto;
    box-sizing: border-box;
    border-radius: 0.4rem;
    border:  2px solid #876A1D;
    margin: 20px auto;
    margin-top: 30px;
    resize: none;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
 .pencil{
    height: 25px;
    width: 25px;
    margin: 8px;
    cursor: pointer;

}
#printer-post{
    display: flex;
   flex-direction: column;
 align-items: center;
}
.btn-edit {
    display: flex;
    justify-content: space-between;
    background: #6E8A3C;
}

 .hide{
 display: none;
 }
 /* Style the header with a grey background and some padding */


 .header {
    overflow: hidden;
     background: linear-gradient(to right, #24CCAA, #A2DB95);
     padding: 5px;
  }
  .header-left {
    display: flex;
    justify-content: center;
  }

 .imagen{
   height: 300px;
   margin:10px auto;
	display:flex;
 }
 /* ESTILOS DE LOGIN */
 .box{
   position: absolute;
   top: 15%;
   left: 60%;
   transform: translate(-50% -50%);
   width: 400px;
  padding: 40px;
   background: #fff ;
   box-sizing: border-box;
   box-shadow: 5px 5px 15px #BABDA5 ;

 border-radius: 10px ;


 }
 .box h2 {
 margin: 0 0 30px;
 font-size: 40px;
 padding: 0%;
 color: #6E8A3C;
 text-align: center;
 font-family: 'Great Vibes', cursive;

 }
.box .inputBox{
  position: relative ;
}
.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: #364A15;

  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #876A1D;
  outline: none;
  background: transparent;
}
.box .inputBox label {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 10px 0;
  font-size: 15px;
  color: #876A1D;
  pointer-events: none;
  transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -25px;
 left: 0;
 color: #876A1D;
 font-size: 15px;
}
.box input[type="submit"] {
  background: #6E8A3C;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
/* ESTILOS IMG-LOGIN */
.img-login{
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.img img {
  width: 600px;
  margin-top: 15%;
  margin-left: 15%;
}
.container-one{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:7rem;
  padding: 0 2rem;
}
.login-container{
  display: flex;
  align-items: center ;
  text-align: center;
}
.pointer{
  color: #876A1D;
  font-size: 500;
}


/* STILOS DE MI POSTS */
.new-post{
  border: 1px solid #876A1D;
  border-radius: 5px;
  margin-top: 10%;
  
}
.img-input{
  width: 40px;
  height: 40px;
  margin-left: 20%;


}
#input-file{
  width: 40px;
    height: 40px;
    left: 63px;
  position: absolute;
opacity: 0;

}
.padre{
  display: flex;
  justify-content: space-between;
}
/* .card{
  border: 5px solid #6E8A3C;
  width: 30%;
background: #6E8A3C;
border-radius: 7px ;
margin: 20px; */




/* NAVBAR */
#nav-bar{
  background: #6E8A3C;

}
.nav-link{
  color: #fff;
}
.btn-off{
  width:25px;
  height: 25px;
 
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  }
  .navbar h2 {
   
    font-size: 35px;
    padding: 0%;
    color: #fff;
    margin-left: 25px;
    margin-top: 5px;
    font-family: 'Great Vibes', cursive;
  }
  /* ordenando contenedores de home */
  .principal-container{
    display: flex;
  }
 
  #card-perfil{
  width: 10rem;
    left: 20%;
    margin-top: 90px;
    height: 30%;
}